{% extends "aplicacionFinal/index.html" %}


{% block titulo %}
<h1 class="mb-5">Articulos encontrados</h1>
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Lista de Artículos</h2></td>
        <td>
            <a
            href="{% url 'productos_libreria_create' %}"
            class="btn btn-primary btn-sm">
            <i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>
        </td>
        <td>
            <a
            href="{% url 'buscar_articulos' %}"
            class="btn btn-primary btn-sm">
            <i class="fa fa-search" title="Buscar"> </i>
            </a>
        <td>        
    </tr>
</table>
    
<table class="table table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio x Unidad</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for l in articulos  %}
        <tr>
            <td>{{l.nombre_producto}}</td>
            <td>{{l.precio}}</td>
            <td>{{l.stock}}</td>

            <td>
                <a
                  href="{% url 'productos_libreria_update' l.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'productos_libreria_delete' l.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>        
            </td>  
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}
